.r {
  text-rendering: optimizespeed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.c-span-xs-1,
.c-span-xs-1-1,
.c-span-xs-1-2,
.c-span-xs-1-3,
.c-span-xs-2-3,
.c-span-xs-1-4,
.c-span-xs-3-4,
.c-span-xs-1-5,
.c-span-xs-2-5,
.c-span-xs-3-5,
.c-span-xs-4-5,
.c-span-xs-5-5,
.c-span-xs-1-6,
.c-span-xs-5-6,
.c-span-xs-1-8,
.c-span-xs-3-8,
.c-span-xs-5-8,
.c-span-xs-7-8,
.c-span-xs-1-12,
.c-span-xs-5-12,
.c-span-xs-7-12,
.c-span-xs-11-12,
.c-span-xs-1-24,
.c-span-xs-2-24,
.c-span-xs-3-24,
.c-span-xs-4-24,
.c-span-xs-5-24,
.c-span-xs-6-24,
.c-span-xs-7-24,
.c-span-xs-8-24,
.c-span-xs-9-24,
.c-span-xs-10-24,
.c-span-xs-11-24,
.c-span-xs-12-24,
.c-span-xs-13-24,
.c-span-xs-14-24,
.c-span-xs-15-24,
.c-span-xs-16-24,
.c-span-xs-17-24,
.c-span-xs-18-24,
.c-span-xs-19-24,
.c-span-xs-20-24,
.c-span-xs-21-24,
.c-span-xs-22-24,
.c-span-xs-23-24,
.c-span-xs-24-24 {
  box-sizing: border-box;
  display: block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

.c-span-xs-1-24 {
  width: 4.1667%;
  *width: 4.1357%;
}

.c-span-xs-1-12,
.c-span-xs-2-24 {
  width: 8.3333%;
  *width: 8.3023%;
}

.c-span-xs-1-8,
.c-span-xs-3-24 {
  width: 12.5%;
  *width: 12.469%;
}

.c-span-xs-1-6,
.c-span-xs-4-24 {
  width: 16.6667%;
  *width: 16.6357%;
}

.c-span-xs-1-5 {
  width: 20%;
  *width: 19.969%;
}

.c-span-xs-5-24 {
  width: 20.8333%;
  *width: 20.8023%;
}

.c-span-xs-1-4,
.c-span-xs-6-24 {
  width: 25%;
  *width: 24.969%;
}

.c-span-xs-7-24 {
  width: 29.1667%;
  *width: 29.1357%;
}

.c-span-xs-1-3,
.c-span-xs-8-24 {
  width: 33.3333%;
  *width: 33.3023%;
}

.c-span-xs-3-8,
.c-span-xs-9-24 {
  width: 37.5%;
  *width: 37.469%;
}

.c-span-xs-2-5 {
  width: 40%;
  *width: 39.969%;
}

.c-span-xs-5-12,
.c-span-xs-10-24 {
  width: 41.6667%;
  *width: 41.6357%;
}

.c-span-xs-11-24 {
  width: 45.8333%;
  *width: 45.8023%;
}

.c-span-xs-1-2,
.c-span-xs-12-24 {
  width: 50%;
  *width: 49.969%;
}

.c-span-xs-13-24 {
  width: 54.1667%;
  *width: 54.1357%;
}

.c-span-xs-7-12,
.c-span-xs-14-24 {
  width: 58.3333%;
  *width: 58.3023%;
}

.c-span-xs-3-5 {
  width: 60%;
  *width: 59.969%;
}

.c-span-xs-5-8,
.c-span-xs-15-24 {
  width: 62.5%;
  *width: 62.469%;
}

.c-span-xs-2-3,
.c-span-xs-16-24 {
  width: 66.6667%;
  *width: 66.6357%;
}

.c-span-xs-17-24 {
  width: 70.8333%;
  *width: 70.8023%;
}

.c-span-xs-3-4,
.c-span-xs-18-24 {
  width: 75%;
  *width: 74.969%;
}

.c-span-xs-19-24 {
  width: 79.1667%;
  *width: 79.1357%;
}

.c-span-xs-4-5 {
  width: 80%;
  *width: 79.969%;
}

.c-span-xs-5-6,
.c-span-xs-20-24 {
  width: 83.3333%;
  *width: 83.3023%;
}

.c-span-xs-7-8,
.c-span-xs-21-24 {
  width: 87.5%;
  *width: 87.469%;
}

.c-span-xs-11-12,
.c-span-xs-22-24 {
  width: 91.6667%;
  *width: 91.6357%;
}

.c-span-xs-23-24 {
  width: 95.8333%;
  *width: 95.8023%;
}

.c-span-xs-1,
.c-span-xs-1-1,
.c-span-xs-5-5,
.c-span-xs-24-24 {
  width: 100%;
}

@media screen and (min-width: 48em) {
  .c-span-sm-1,
  .c-span-sm-1-1,
  .c-span-sm-1-2,
  .c-span-sm-1-3,
  .c-span-sm-2-3,
  .c-span-sm-1-4,
  .c-span-sm-3-4,
  .c-span-sm-1-5,
  .c-span-sm-2-5,
  .c-span-sm-3-5,
  .c-span-sm-4-5,
  .c-span-sm-5-5,
  .c-span-sm-1-6,
  .c-span-sm-5-6,
  .c-span-sm-1-8,
  .c-span-sm-3-8,
  .c-span-sm-5-8,
  .c-span-sm-7-8,
  .c-span-sm-1-12,
  .c-span-sm-5-12,
  .c-span-sm-7-12,
  .c-span-sm-11-12,
  .c-span-sm-1-24,
  .c-span-sm-2-24,
  .c-span-sm-3-24,
  .c-span-sm-4-24,
  .c-span-sm-5-24,
  .c-span-sm-6-24,
  .c-span-sm-7-24,
  .c-span-sm-8-24,
  .c-span-sm-9-24,
  .c-span-sm-10-24,
  .c-span-sm-11-24,
  .c-span-sm-12-24,
  .c-span-sm-13-24,
  .c-span-sm-14-24,
  .c-span-sm-15-24,
  .c-span-sm-16-24,
  .c-span-sm-17-24,
  .c-span-sm-18-24,
  .c-span-sm-19-24,
  .c-span-sm-20-24,
  .c-span-sm-21-24,
  .c-span-sm-22-24,
  .c-span-sm-23-24,
  .c-span-sm-24-24 {
    box-sizing: border-box;
    display: block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
  }

  .c-span-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .c-span-sm-1-12,
  .c-span-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .c-span-sm-1-8,
  .c-span-sm-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .c-span-sm-1-6,
  .c-span-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .c-span-sm-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .c-span-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .c-span-sm-1-4,
  .c-span-sm-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .c-span-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .c-span-sm-1-3,
  .c-span-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .c-span-sm-3-8,
  .c-span-sm-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .c-span-sm-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .c-span-sm-5-12,
  .c-span-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .c-span-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .c-span-sm-1-2,
  .c-span-sm-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .c-span-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .c-span-sm-7-12,
  .c-span-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .c-span-sm-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .c-span-sm-5-8,
  .c-span-sm-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .c-span-sm-2-3,
  .c-span-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .c-span-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .c-span-sm-3-4,
  .c-span-sm-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .c-span-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .c-span-sm-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .c-span-sm-5-6,
  .c-span-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .c-span-sm-7-8,
  .c-span-sm-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .c-span-sm-11-12,
  .c-span-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .c-span-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .c-span-sm-1,
  .c-span-sm-1-1,
  .c-span-sm-5-5,
  .c-span-sm-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 60em) {
  .c-span-md-1,
  .c-span-md-1-1,
  .c-span-md-1-2,
  .c-span-md-1-3,
  .c-span-md-2-3,
  .c-span-md-1-4,
  .c-span-md-3-4,
  .c-span-md-1-5,
  .c-span-md-2-5,
  .c-span-md-3-5,
  .c-span-md-4-5,
  .c-span-md-5-5,
  .c-span-md-1-6,
  .c-span-md-5-6,
  .c-span-md-1-8,
  .c-span-md-3-8,
  .c-span-md-5-8,
  .c-span-md-7-8,
  .c-span-md-1-12,
  .c-span-md-5-12,
  .c-span-md-7-12,
  .c-span-md-11-12,
  .c-span-md-1-24,
  .c-span-md-2-24,
  .c-span-md-3-24,
  .c-span-md-4-24,
  .c-span-md-5-24,
  .c-span-md-6-24,
  .c-span-md-7-24,
  .c-span-md-8-24,
  .c-span-md-9-24,
  .c-span-md-10-24,
  .c-span-md-11-24,
  .c-span-md-12-24,
  .c-span-md-13-24,
  .c-span-md-14-24,
  .c-span-md-15-24,
  .c-span-md-16-24,
  .c-span-md-17-24,
  .c-span-md-18-24,
  .c-span-md-19-24,
  .c-span-md-20-24,
  .c-span-md-21-24,
  .c-span-md-22-24,
  .c-span-md-23-24,
  .c-span-md-24-24 {
    box-sizing: border-box;
    display: block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
  }

  .c-span-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .c-span-md-1-12,
  .c-span-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .c-span-md-1-8,
  .c-span-md-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .c-span-md-1-6,
  .c-span-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .c-span-md-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .c-span-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .c-span-md-1-4,
  .c-span-md-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .c-span-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .c-span-md-1-3,
  .c-span-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .c-span-md-3-8,
  .c-span-md-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .c-span-md-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .c-span-md-5-12,
  .c-span-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .c-span-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .c-span-md-1-2,
  .c-span-md-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .c-span-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .c-span-md-7-12,
  .c-span-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .c-span-md-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .c-span-md-5-8,
  .c-span-md-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .c-span-md-2-3,
  .c-span-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .c-span-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .c-span-md-3-4,
  .c-span-md-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .c-span-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .c-span-md-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .c-span-md-5-6,
  .c-span-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .c-span-md-7-8,
  .c-span-md-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .c-span-md-11-12,
  .c-span-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .c-span-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .c-span-md-1,
  .c-span-md-1-1,
  .c-span-md-5-5,
  .c-span-md-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 72em) {
  .c-span-lg-1,
  .c-span-lg-1-1,
  .c-span-lg-1-2,
  .c-span-lg-1-3,
  .c-span-lg-2-3,
  .c-span-lg-1-4,
  .c-span-lg-3-4,
  .c-span-lg-1-5,
  .c-span-lg-2-5,
  .c-span-lg-3-5,
  .c-span-lg-4-5,
  .c-span-lg-5-5,
  .c-span-lg-1-6,
  .c-span-lg-5-6,
  .c-span-lg-1-8,
  .c-span-lg-3-8,
  .c-span-lg-5-8,
  .c-span-lg-7-8,
  .c-span-lg-1-12,
  .c-span-lg-5-12,
  .c-span-lg-7-12,
  .c-span-lg-11-12,
  .c-span-lg-1-24,
  .c-span-lg-2-24,
  .c-span-lg-3-24,
  .c-span-lg-4-24,
  .c-span-lg-5-24,
  .c-span-lg-6-24,
  .c-span-lg-7-24,
  .c-span-lg-8-24,
  .c-span-lg-9-24,
  .c-span-lg-10-24,
  .c-span-lg-11-24,
  .c-span-lg-12-24,
  .c-span-lg-13-24,
  .c-span-lg-14-24,
  .c-span-lg-15-24,
  .c-span-lg-16-24,
  .c-span-lg-17-24,
  .c-span-lg-18-24,
  .c-span-lg-19-24,
  .c-span-lg-20-24,
  .c-span-lg-21-24,
  .c-span-lg-22-24,
  .c-span-lg-23-24,
  .c-span-lg-24-24 {
    box-sizing: border-box;
    display: block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
  }

  .c-span-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .c-span-lg-1-12,
  .c-span-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .c-span-lg-1-8,
  .c-span-lg-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .c-span-lg-1-6,
  .c-span-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .c-span-lg-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .c-span-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .c-span-lg-1-4,
  .c-span-lg-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .c-span-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .c-span-lg-1-3,
  .c-span-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .c-span-lg-3-8,
  .c-span-lg-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .c-span-lg-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .c-span-lg-5-12,
  .c-span-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .c-span-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .c-span-lg-1-2,
  .c-span-lg-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .c-span-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .c-span-lg-7-12,
  .c-span-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .c-span-lg-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .c-span-lg-5-8,
  .c-span-lg-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .c-span-lg-2-3,
  .c-span-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .c-span-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .c-span-lg-3-4,
  .c-span-lg-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .c-span-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .c-span-lg-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .c-span-lg-5-6,
  .c-span-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .c-span-lg-7-8,
  .c-span-lg-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .c-span-lg-11-12,
  .c-span-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .c-span-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .c-span-lg-1,
  .c-span-lg-1-1,
  .c-span-lg-5-5,
  .c-span-lg-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 84em) {
  .c-span-xl-1,
  .c-span-xl-1-1,
  .c-span-xl-1-2,
  .c-span-xl-1-3,
  .c-span-xl-2-3,
  .c-span-xl-1-4,
  .c-span-xl-3-4,
  .c-span-xl-1-5,
  .c-span-xl-2-5,
  .c-span-xl-3-5,
  .c-span-xl-4-5,
  .c-span-xl-5-5,
  .c-span-xl-1-6,
  .c-span-xl-5-6,
  .c-span-xl-1-8,
  .c-span-xl-3-8,
  .c-span-xl-5-8,
  .c-span-xl-7-8,
  .c-span-xl-1-12,
  .c-span-xl-5-12,
  .c-span-xl-7-12,
  .c-span-xl-11-12,
  .c-span-xl-1-24,
  .c-span-xl-2-24,
  .c-span-xl-3-24,
  .c-span-xl-4-24,
  .c-span-xl-5-24,
  .c-span-xl-6-24,
  .c-span-xl-7-24,
  .c-span-xl-8-24,
  .c-span-xl-9-24,
  .c-span-xl-10-24,
  .c-span-xl-11-24,
  .c-span-xl-12-24,
  .c-span-xl-13-24,
  .c-span-xl-14-24,
  .c-span-xl-15-24,
  .c-span-xl-16-24,
  .c-span-xl-17-24,
  .c-span-xl-18-24,
  .c-span-xl-19-24,
  .c-span-xl-20-24,
  .c-span-xl-21-24,
  .c-span-xl-22-24,
  .c-span-xl-23-24,
  .c-span-xl-24-24 {
    box-sizing: border-box;
    display: block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
  }

  .c-span-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .c-span-xl-1-12,
  .c-span-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .c-span-xl-1-8,
  .c-span-xl-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .c-span-xl-1-6,
  .c-span-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .c-span-xl-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .c-span-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .c-span-xl-1-4,
  .c-span-xl-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .c-span-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .c-span-xl-1-3,
  .c-span-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .c-span-xl-3-8,
  .c-span-xl-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .c-span-xl-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .c-span-xl-5-12,
  .c-span-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .c-span-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .c-span-xl-1-2,
  .c-span-xl-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .c-span-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .c-span-xl-7-12,
  .c-span-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .c-span-xl-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .c-span-xl-5-8,
  .c-span-xl-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .c-span-xl-2-3,
  .c-span-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .c-span-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .c-span-xl-3-4,
  .c-span-xl-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .c-span-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .c-span-xl-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .c-span-xl-5-6,
  .c-span-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .c-span-xl-7-8,
  .c-span-xl-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .c-span-xl-11-12,
  .c-span-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .c-span-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .c-span-xl-1,
  .c-span-xl-1-1,
  .c-span-xl-5-5,
  .c-span-xl-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 96em) {
  .c-span-xxl-1,
  .c-span-xxl-1-1,
  .c-span-xxl-1-2,
  .c-span-xxl-1-3,
  .c-span-xxl-2-3,
  .c-span-xxl-1-4,
  .c-span-xxl-3-4,
  .c-span-xxl-1-5,
  .c-span-xxl-2-5,
  .c-span-xxl-3-5,
  .c-span-xxl-4-5,
  .c-span-xxl-5-5,
  .c-span-xxl-1-6,
  .c-span-xxl-5-6,
  .c-span-xxl-1-8,
  .c-span-xxl-3-8,
  .c-span-xxl-5-8,
  .c-span-xxl-7-8,
  .c-span-xxl-1-12,
  .c-span-xxl-5-12,
  .c-span-xxl-7-12,
  .c-span-xxl-11-12,
  .c-span-xxl-1-24,
  .c-span-xxl-2-24,
  .c-span-xxl-3-24,
  .c-span-xxl-4-24,
  .c-span-xxl-5-24,
  .c-span-xxl-6-24,
  .c-span-xxl-7-24,
  .c-span-xxl-8-24,
  .c-span-xxl-9-24,
  .c-span-xxl-10-24,
  .c-span-xxl-11-24,
  .c-span-xxl-12-24,
  .c-span-xxl-13-24,
  .c-span-xxl-14-24,
  .c-span-xxl-15-24,
  .c-span-xxl-16-24,
  .c-span-xxl-17-24,
  .c-span-xxl-18-24,
  .c-span-xxl-19-24,
  .c-span-xxl-20-24,
  .c-span-xxl-21-24,
  .c-span-xxl-22-24,
  .c-span-xxl-23-24,
  .c-span-xxl-24-24 {
    box-sizing: border-box;
    display: block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
  }

  .c-span-xxl-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .c-span-xxl-1-12,
  .c-span-xxl-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .c-span-xxl-1-8,
  .c-span-xxl-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .c-span-xxl-1-6,
  .c-span-xxl-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .c-span-xxl-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .c-span-xxl-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .c-span-xxl-1-4,
  .c-span-xxl-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .c-span-xxl-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .c-span-xxl-1-3,
  .c-span-xxl-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .c-span-xxl-3-8,
  .c-span-xxl-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .c-span-xxl-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .c-span-xxl-5-12,
  .c-span-xxl-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .c-span-xxl-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .c-span-xxl-1-2,
  .c-span-xxl-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .c-span-xxl-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .c-span-xxl-7-12,
  .c-span-xxl-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .c-span-xxl-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .c-span-xxl-5-8,
  .c-span-xxl-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .c-span-xxl-2-3,
  .c-span-xxl-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .c-span-xxl-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .c-span-xxl-3-4,
  .c-span-xxl-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .c-span-xxl-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .c-span-xxl-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .c-span-xxl-5-6,
  .c-span-xxl-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .c-span-xxl-7-8,
  .c-span-xxl-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .c-span-xxl-11-12,
  .c-span-xxl-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .c-span-xxl-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .c-span-xxl-1,
  .c-span-xxl-1-1,
  .c-span-xxl-5-5,
  .c-span-xxl-24-24 {
    width: 100%;
  }
}

.c-offset-xs-0 {
  margin-left: 0;
}

.c-offset-xs-1-2 {
  margin-left: 50%;
  *margin-left: 49.995%;
}

.c-offset-xs-1-3 {
  margin-left: 33.33%;
  *margin-left: 33.325%;
}

.c-offset-xs-2-3 {
  margin-left: 66.67%;
  *margin-left: 66.665%;
}

.c-offset-xs-1-4 {
  margin-left: 25%;
  *margin-left: 24.995%;
}

.c-offset-xs-3-4 {
  margin-left: 75%;
  *margin-left: 74.995%;
}

.c-offset-xs-1-5 {
  margin-left: 20%;
  *margin-left: 19.995%;
}

.c-offset-xs-2-5 {
  margin-left: 40%;
  *margin-left: 39.995%;
}

.c-offset-xs-3-5 {
  margin-left: 60%;
  *margin-left: 59.995%;
}

.c-offset-xs-4-5 {
  margin-left: 80%;
  *margin-left: 79.995%;
}

.c-offset-xs-1-6 {
  margin-left: 16.66%;
  *margin-left: 16.655%;
}

.c-offset-xs-5-6 {
  margin-left: 83.33%;
  *margin-left: 83.325%;
}

.c-offset-xs-1-8 {
  margin-left: 12.5%;
  *margin-left: 12.495%;
}

.c-offset-xs-3-8 {
  margin-left: 37.5%;
  *margin-left: 37.495%;
}

.c-offset-xs-5-8 {
  margin-left: 62.5%;
  *margin-left: 62.495%;
}

.c-offset-xs-7-8 {
  margin-left: 87.5%;
  *margin-left: 87.495%;
}

.c-offset-xs-1-12 {
  margin-left: 8.33%;
  *margin-left: 8.325%;
}

.c-offset-xs-5-12 {
  margin-left: 41.67%;
  *margin-left: 41.665%;
}

.c-offset-xs-7-12 {
  margin-left: 58.33%;
  *margin-left: 58.325%;
}

.c-offset-xs-11-12 {
  margin-left: 91.67%;
  *margin-left: 91.665%;
}

.c-offset-xs-1-24 {
  margin-left: 4.17%;
  *margin-left: 4.165%;
}

.c-offset-xs-5-24 {
  margin-left: 20.83%;
  *margin-left: 20.825%;
}

.c-offset-xs-7-24 {
  margin-left: 29.17%;
  *margin-left: 29.165%;
}

.c-offset-xs-11-24 {
  margin-left: 45.83%;
  *margin-left: 45.825%;
}

.c-offset-xs-13-24 {
  margin-left: 54.17%;
  *margin-left: 54.165%;
}

.c-offset-xs-17-24 {
  margin-left: 70.83%;
  *margin-left: 70.825%;
}

.c-offset-xs-19-24 {
  margin-left: 79.17%;
  *margin-left: 79.165%;
}

.c-offset-xs-23-24 {
  margin-left: 95.83%;
  *margin-left: 95.825%;
}

@media screen and (min-width: 48em) {
  .c-offset-sm-0 {
    margin-left: 0;
  }

  .c-offset-sm-1-2 {
    margin-left: 50%;
    *margin-left: 49.995%;
  }

  .c-offset-sm-1-3 {
    margin-left: 33.33%;
    *margin-left: 33.325%;
  }

  .c-offset-sm-2-3 {
    margin-left: 66.67%;
    *margin-left: 66.665%;
  }

  .c-offset-sm-1-4 {
    margin-left: 25%;
    *margin-left: 24.995%;
  }

  .c-offset-sm-3-4 {
    margin-left: 75%;
    *margin-left: 74.995%;
  }

  .c-offset-sm-1-5 {
    margin-left: 20%;
    *margin-left: 19.995%;
  }

  .c-offset-sm-2-5 {
    margin-left: 40%;
    *margin-left: 39.995%;
  }

  .c-offset-sm-3-5 {
    margin-left: 60%;
    *margin-left: 59.995%;
  }

  .c-offset-sm-4-5 {
    margin-left: 80%;
    *margin-left: 79.995%;
  }

  .c-offset-sm-1-6 {
    margin-left: 16.66%;
    *margin-left: 16.655%;
  }

  .c-offset-sm-5-6 {
    margin-left: 83.33%;
    *margin-left: 83.325%;
  }

  .c-offset-sm-1-8 {
    margin-left: 12.5%;
    *margin-left: 12.495%;
  }

  .c-offset-sm-3-8 {
    margin-left: 37.5%;
    *margin-left: 37.495%;
  }

  .c-offset-sm-5-8 {
    margin-left: 62.5%;
    *margin-left: 62.495%;
  }

  .c-offset-sm-7-8 {
    margin-left: 87.5%;
    *margin-left: 87.495%;
  }

  .c-offset-sm-1-12 {
    margin-left: 8.33%;
    *margin-left: 8.325%;
  }

  .c-offset-sm-5-12 {
    margin-left: 41.67%;
    *margin-left: 41.665%;
  }

  .c-offset-sm-7-12 {
    margin-left: 58.33%;
    *margin-left: 58.325%;
  }

  .c-offset-sm-11-12 {
    margin-left: 91.67%;
    *margin-left: 91.665%;
  }

  .c-offset-sm-1-24 {
    margin-left: 4.17%;
    *margin-left: 4.165%;
  }

  .c-offset-sm-5-24 {
    margin-left: 20.83%;
    *margin-left: 20.825%;
  }

  .c-offset-sm-7-24 {
    margin-left: 29.17%;
    *margin-left: 29.165%;
  }

  .c-offset-sm-11-24 {
    margin-left: 45.83%;
    *margin-left: 45.825%;
  }

  .c-offset-sm-13-24 {
    margin-left: 54.17%;
    *margin-left: 54.165%;
  }

  .c-offset-sm-17-24 {
    margin-left: 70.83%;
    *margin-left: 70.825%;
  }

  .c-offset-sm-19-24 {
    margin-left: 79.17%;
    *margin-left: 79.165%;
  }

  .c-offset-sm-23-24 {
    margin-left: 95.83%;
    *margin-left: 95.825%;
  }
}

@media screen and (min-width: 60em) {
  .c-offset-md-0 {
    margin-left: 0;
  }

  .c-offset-md-1-2 {
    margin-left: 50%;
    *margin-left: 49.995%;
  }

  .c-offset-md-1-3 {
    margin-left: 33.33%;
    *margin-left: 33.325%;
  }

  .c-offset-md-2-3 {
    margin-left: 66.67%;
    *margin-left: 66.665%;
  }

  .c-offset-md-1-4 {
    margin-left: 25%;
    *margin-left: 24.995%;
  }

  .c-offset-md-3-4 {
    margin-left: 75%;
    *margin-left: 74.995%;
  }

  .c-offset-md-1-5 {
    margin-left: 20%;
    *margin-left: 19.995%;
  }

  .c-offset-md-2-5 {
    margin-left: 40%;
    *margin-left: 39.995%;
  }

  .c-offset-md-3-5 {
    margin-left: 60%;
    *margin-left: 59.995%;
  }

  .c-offset-md-4-5 {
    margin-left: 80%;
    *margin-left: 79.995%;
  }

  .c-offset-md-1-6 {
    margin-left: 16.66%;
    *margin-left: 16.655%;
  }

  .c-offset-md-5-6 {
    margin-left: 83.33%;
    *margin-left: 83.325%;
  }

  .c-offset-md-1-8 {
    margin-left: 12.5%;
    *margin-left: 12.495%;
  }

  .c-offset-md-3-8 {
    margin-left: 37.5%;
    *margin-left: 37.495%;
  }

  .c-offset-md-5-8 {
    margin-left: 62.5%;
    *margin-left: 62.495%;
  }

  .c-offset-md-7-8 {
    margin-left: 87.5%;
    *margin-left: 87.495%;
  }

  .c-offset-md-1-12 {
    margin-left: 8.33%;
    *margin-left: 8.325%;
  }

  .c-offset-md-5-12 {
    margin-left: 41.67%;
    *margin-left: 41.665%;
  }

  .c-offset-md-7-12 {
    margin-left: 58.33%;
    *margin-left: 58.325%;
  }

  .c-offset-md-11-12 {
    margin-left: 91.67%;
    *margin-left: 91.665%;
  }

  .c-offset-md-1-24 {
    margin-left: 4.17%;
    *margin-left: 4.165%;
  }

  .c-offset-md-5-24 {
    margin-left: 20.83%;
    *margin-left: 20.825%;
  }

  .c-offset-md-7-24 {
    margin-left: 29.17%;
    *margin-left: 29.165%;
  }

  .c-offset-md-11-24 {
    margin-left: 45.83%;
    *margin-left: 45.825%;
  }

  .c-offset-md-13-24 {
    margin-left: 54.17%;
    *margin-left: 54.165%;
  }

  .c-offset-md-17-24 {
    margin-left: 70.83%;
    *margin-left: 70.825%;
  }

  .c-offset-md-19-24 {
    margin-left: 79.17%;
    *margin-left: 79.165%;
  }

  .c-offset-md-23-24 {
    margin-left: 95.83%;
    *margin-left: 95.825%;
  }
}

@media screen and (min-width: 72em) {
  .c-offset-lg-0 {
    margin-left: 0;
  }

  .c-offset-lg-1-2 {
    margin-left: 50%;
    *margin-left: 49.995%;
  }

  .c-offset-lg-1-3 {
    margin-left: 33.33%;
    *margin-left: 33.325%;
  }

  .c-offset-lg-2-3 {
    margin-left: 66.67%;
    *margin-left: 66.665%;
  }

  .c-offset-lg-1-4 {
    margin-left: 25%;
    *margin-left: 24.995%;
  }

  .c-offset-lg-3-4 {
    margin-left: 75%;
    *margin-left: 74.995%;
  }

  .c-offset-lg-1-5 {
    margin-left: 20%;
    *margin-left: 19.995%;
  }

  .c-offset-lg-2-5 {
    margin-left: 40%;
    *margin-left: 39.995%;
  }

  .c-offset-lg-3-5 {
    margin-left: 60%;
    *margin-left: 59.995%;
  }

  .c-offset-lg-4-5 {
    margin-left: 80%;
    *margin-left: 79.995%;
  }

  .c-offset-lg-1-6 {
    margin-left: 16.66%;
    *margin-left: 16.655%;
  }

  .c-offset-lg-5-6 {
    margin-left: 83.33%;
    *margin-left: 83.325%;
  }

  .c-offset-lg-1-8 {
    margin-left: 12.5%;
    *margin-left: 12.495%;
  }

  .c-offset-lg-3-8 {
    margin-left: 37.5%;
    *margin-left: 37.495%;
  }

  .c-offset-lg-5-8 {
    margin-left: 62.5%;
    *margin-left: 62.495%;
  }

  .c-offset-lg-7-8 {
    margin-left: 87.5%;
    *margin-left: 87.495%;
  }

  .c-offset-lg-1-12 {
    margin-left: 8.33%;
    *margin-left: 8.325%;
  }

  .c-offset-lg-5-12 {
    margin-left: 41.67%;
    *margin-left: 41.665%;
  }

  .c-offset-lg-7-12 {
    margin-left: 58.33%;
    *margin-left: 58.325%;
  }

  .c-offset-lg-11-12 {
    margin-left: 91.67%;
    *margin-left: 91.665%;
  }

  .c-offset-lg-1-24 {
    margin-left: 4.17%;
    *margin-left: 4.165%;
  }

  .c-offset-lg-5-24 {
    margin-left: 20.83%;
    *margin-left: 20.825%;
  }

  .c-offset-lg-7-24 {
    margin-left: 29.17%;
    *margin-left: 29.165%;
  }

  .c-offset-lg-11-24 {
    margin-left: 45.83%;
    *margin-left: 45.825%;
  }

  .c-offset-lg-13-24 {
    margin-left: 54.17%;
    *margin-left: 54.165%;
  }

  .c-offset-lg-17-24 {
    margin-left: 70.83%;
    *margin-left: 70.825%;
  }

  .c-offset-lg-19-24 {
    margin-left: 79.17%;
    *margin-left: 79.165%;
  }

  .c-offset-lg-23-24 {
    margin-left: 95.83%;
    *margin-left: 95.825%;
  }
}

@media screen and (min-width: 84em) {
  .c-offset-xl-0 {
    margin-left: 0;
  }

  .c-offset-xl-1-2 {
    margin-left: 50%;
    *margin-left: 49.995%;
  }

  .c-offset-xl-1-3 {
    margin-left: 33.33%;
    *margin-left: 33.325%;
  }

  .c-offset-xl-2-3 {
    margin-left: 66.67%;
    *margin-left: 66.665%;
  }

  .c-offset-xl-1-4 {
    margin-left: 25%;
    *margin-left: 24.995%;
  }

  .c-offset-xl-3-4 {
    margin-left: 75%;
    *margin-left: 74.995%;
  }

  .c-offset-xl-1-5 {
    margin-left: 20%;
    *margin-left: 19.995%;
  }

  .c-offset-xl-2-5 {
    margin-left: 40%;
    *margin-left: 39.995%;
  }

  .c-offset-xl-3-5 {
    margin-left: 60%;
    *margin-left: 59.995%;
  }

  .c-offset-xl-4-5 {
    margin-left: 80%;
    *margin-left: 79.995%;
  }

  .c-offset-xl-1-6 {
    margin-left: 16.66%;
    *margin-left: 16.655%;
  }

  .c-offset-xl-5-6 {
    margin-left: 83.33%;
    *margin-left: 83.325%;
  }

  .c-offset-xl-1-8 {
    margin-left: 12.5%;
    *margin-left: 12.495%;
  }

  .c-offset-xl-3-8 {
    margin-left: 37.5%;
    *margin-left: 37.495%;
  }

  .c-offset-xl-5-8 {
    margin-left: 62.5%;
    *margin-left: 62.495%;
  }

  .c-offset-xl-7-8 {
    margin-left: 87.5%;
    *margin-left: 87.495%;
  }

  .c-offset-xl-1-12 {
    margin-left: 8.33%;
    *margin-left: 8.325%;
  }

  .c-offset-xl-5-12 {
    margin-left: 41.67%;
    *margin-left: 41.665%;
  }

  .c-offset-xl-7-12 {
    margin-left: 58.33%;
    *margin-left: 58.325%;
  }

  .c-offset-xl-11-12 {
    margin-left: 91.67%;
    *margin-left: 91.665%;
  }

  .c-offset-xl-1-24 {
    margin-left: 4.17%;
    *margin-left: 4.165%;
  }

  .c-offset-xl-5-24 {
    margin-left: 20.83%;
    *margin-left: 20.825%;
  }

  .c-offset-xl-7-24 {
    margin-left: 29.17%;
    *margin-left: 29.165%;
  }

  .c-offset-xl-11-24 {
    margin-left: 45.83%;
    *margin-left: 45.825%;
  }

  .c-offset-xl-13-24 {
    margin-left: 54.17%;
    *margin-left: 54.165%;
  }

  .c-offset-xl-17-24 {
    margin-left: 70.83%;
    *margin-left: 70.825%;
  }

  .c-offset-xl-19-24 {
    margin-left: 79.17%;
    *margin-left: 79.165%;
  }

  .c-offset-xl-23-24 {
    margin-left: 95.83%;
    *margin-left: 95.825%;
  }
}

@media screen and (min-width: 96em) {
  .c-offset-xxl-0 {
    margin-left: 0;
  }

  .c-offset-xxl-1-2 {
    margin-left: 50%;
    *margin-left: 49.995%;
  }

  .c-offset-xxl-1-3 {
    margin-left: 33.33%;
    *margin-left: 33.325%;
  }

  .c-offset-xxl-2-3 {
    margin-left: 66.67%;
    *margin-left: 66.665%;
  }

  .c-offset-xxl-1-4 {
    margin-left: 25%;
    *margin-left: 24.995%;
  }

  .c-offset-xxl-3-4 {
    margin-left: 75%;
    *margin-left: 74.995%;
  }

  .c-offset-xxl-1-5 {
    margin-left: 20%;
    *margin-left: 19.995%;
  }

  .c-offset-xxl-2-5 {
    margin-left: 40%;
    *margin-left: 39.995%;
  }

  .c-offset-xxl-3-5 {
    margin-left: 60%;
    *margin-left: 59.995%;
  }

  .c-offset-xxl-4-5 {
    margin-left: 80%;
    *margin-left: 79.995%;
  }

  .c-offset-xxl-1-6 {
    margin-left: 16.66%;
    *margin-left: 16.655%;
  }

  .c-offset-xxl-5-6 {
    margin-left: 83.33%;
    *margin-left: 83.325%;
  }

  .c-offset-xxl-1-8 {
    margin-left: 12.5%;
    *margin-left: 12.495%;
  }

  .c-offset-xxl-3-8 {
    margin-left: 37.5%;
    *margin-left: 37.495%;
  }

  .c-offset-xxl-5-8 {
    margin-left: 62.5%;
    *margin-left: 62.495%;
  }

  .c-offset-xxl-7-8 {
    margin-left: 87.5%;
    *margin-left: 87.495%;
  }

  .c-offset-xxl-1-12 {
    margin-left: 8.33%;
    *margin-left: 8.325%;
  }

  .c-offset-xxl-5-12 {
    margin-left: 41.67%;
    *margin-left: 41.665%;
  }

  .c-offset-xxl-7-12 {
    margin-left: 58.33%;
    *margin-left: 58.325%;
  }

  .c-offset-xxl-11-12 {
    margin-left: 91.67%;
    *margin-left: 91.665%;
  }

  .c-offset-xxl-1-24 {
    margin-left: 4.17%;
    *margin-left: 4.165%;
  }

  .c-offset-xxl-5-24 {
    margin-left: 20.83%;
    *margin-left: 20.825%;
  }

  .c-offset-xxl-7-24 {
    margin-left: 29.17%;
    *margin-left: 29.165%;
  }

  .c-offset-xxl-11-24 {
    margin-left: 45.83%;
    *margin-left: 45.825%;
  }

  .c-offset-xxl-13-24 {
    margin-left: 54.17%;
    *margin-left: 54.165%;
  }

  .c-offset-xxl-17-24 {
    margin-left: 70.83%;
    *margin-left: 70.825%;
  }

  .c-offset-xxl-19-24 {
    margin-left: 79.17%;
    *margin-left: 79.165%;
  }

  .c-offset-xxl-23-24 {
    margin-left: 95.83%;
    *margin-left: 95.825%;
  }
}
